@font-face {
  font-family: 'FrutigerLTStd45Light';
  src: url("../fonts/frutiger/frutiger-45/frutigerltstd-light.svg#FrutigerLTStd45Light") format("svg"), url("../fonts/frutiger/frutiger-45/frutigerltstd-light.ttf") format("truetype"), url("../fonts/frutiger/frutiger-45/frutigerltstd-light.woff") format("woff"), url("../fonts/frutiger/frutiger-45/frutigerltstd-light.eot") format("embedded-opentype"); }

@font-face {
  font-family: 'FrutigerLTStd55Roman';
  src: url("../fonts/frutiger/frutiger-55/frutigerltstd-roman.svg#FrutigerLTStd55Roman") format("svg"), url("../fonts/frutiger/frutiger-55/frutigerltstd-roman.ttf") format("truetype"), url("../fonts/frutiger/frutiger-55/frutigerltstd-roman.woff") format("woff"), url("../fonts/frutiger/frutiger-55/frutigerltstd-roman.eot") format("embedded-opentype"); }

@font-face {
  font-family: 'FrutigerLTStd55Bold';
  src: url("../fonts/frutiger/frutiger-65/frutigerltstd-bold.svg#FrutigerLTStd55bold") format("svg"), url("../fonts/frutiger/frutiger-65/frutigerltstd-bold.ttf") format("truetype"), url("../fonts/frutiger/frutiger-65/frutigerltstd-bold.woff") format("woff"), url("../fonts/frutiger/frutiger-65/frutigerltstd-bold.eot") format("embedded-opentype"); }

@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/font-awesome-4.0.3/fonts/fontawesome-webfont.svg#fontawesome-webfont") format("svg"), url("../fonts/font-awesome-4.0.3/fonts/fontawesome-webfont.eot"), url("../fonts/font-awesome-4.0.3/fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/font-awesome-4.0.3/fonts/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*Vendor Prefixing*/
/*! normalize.css v3.0.0-rc.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.bold, .info header {
  font-family: FrutigerLTStd55Bold, helvetica, arial, sans-serif; }

.text-center, body {
  text-align: center; }

.text-left, .leftmost-column, .info header {
  text-align: left; }

.text-right, .rightmost-column {
  text-align: right; }

.float-right {
  float: right; }

.float-left {
  float: left; }

html {
  font: 14px FrutigerLTStd55Roman, helvetica, arial, sans-serif; }

body {
  margin: 0;
  color: #111111;
  line-height: 1.5; }

.grid {
  display: inline-table;
  width: 91%; }

.grid-row {
  display: table-row; }

.grid-cell, .leftmost-column, .rightmost-column {
  display: table-cell;
  vertical-align: middle; }

header {
  padding-top: 0.71429em;
  padding-top: 0.71429rem; }

/* General button style (reset) */
.btn {
  border: 2px solid #111111;
  background: none;
  cursor: pointer;
  padding: 10px 40px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  margin-left: 0.71429em;
  margin-left: 0.71429rem;
  -webkit-all: 0.3s;
  -moz-all: 0.3s;
  -ms-all: 0.3s;
  -o-all: 0.3s;
  all: 0.3s; }

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-all: 0.3s;
  -moz-all: 0.3s;
  -ms-all: 0.3s;
  -o-all: 0.3s;
  all: 0.3s; }

/* Button 1e */
.btn-1e {
  overflow: hidden; }

.btn-1e:after {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #111111;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg); }

.btn-1e:hover,
.btn-1e:active {
  color: white; }

.btn-1e:hover:after {
  height: 260%;
  opacity: 0.4; }

.btn-1e:active:after {
  height: 400%;
  opacity: 0.4; }

.strip-list {
  list-style: none;
  padding: 0; }

/*************************************
Build the scene and rotate on hover
**************************************/
.scene {
  width: 260px;
  height: 400px;
  margin: 30px;
  display: inline-block;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px; }

.movie {
  width: 260px;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-130px);
  -moz-transform: translateZ(-130px);
  transform: translateZ(-130px);
  -webkit-transition: -webkit-transform 350ms;
  -moz-transition: -moz-transform 350ms;
  transition: transform 350ms; }

.movie:hover {
  -webkit-transform: rotateY(-78deg) translateZ(20px);
  -moz-transform: rotateY(-78deg) translateZ(20px);
  transform: rotateY(-78deg) translateZ(20px); }

/*************************************
Transform and style the two planes
**************************************/
.movie .poster,
.movie .info {
  position: absolute;
  width: 260px;
  height: 400px;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

.movie .poster {
  -webkit-transform: translateZ(130px);
  -moz-transform: translateZ(130px);
  transform: translateZ(130px);
  background-size: cover;
  background-repeat: no-repeat; }

.movie .info {
  -webkit-transform: rotateY(90deg) translateZ(130px);
  -moz-transform: rotateY(90deg) translateZ(130px);
  transform: rotateY(90deg) translateZ(130px);
  border: 1px solid #B8B5B5;
  font-size: 0.75em; }

/*************************************
Shadow beneath the 3D object
**************************************/
.csstransforms3d .movie::after {
  content: '';
  width: 260px;
  height: 260px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transform: rotateX(90deg) translateY(130px);
  -moz-transform: rotateX(90deg) translateY(130px);
  transform: rotateX(90deg) translateY(130px);
  -webkit-transition: box-shadow 350ms;
  -moz-transition: box-shadow 350ms;
  transition: box-shadow 350ms; }

.csstransforms3d .movie:hover::after {
  box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3); }

/*************************************
Movie information
**************************************/
.info header {
  background-position: center right;
  padding: 7px 10px;
  height: 195px;
  background-size: contain;
  background-repeat: no-repeat;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }

.info header h1 {
  margin: 0 0 2px;
  font-size: 1.4em; }

.info header .rating {
  border: 1px solid #FFF;
  padding: 0px 3px; }

.info p {
  padding: 1.2em 1.4em;
  margin: 2px 0 0;
  font-weight: 700;
  color: #666;
  line-height: 1.4em;
  border-top: 10px solid #555; }

/*************************************
Generate "lighting" using box shadows
**************************************/
.movie .poster,
.movie .info,
.movie .info header {
  -webkit-transition: box-shadow 350ms;
  -moz-transition: box-shadow 350ms;
  transition: box-shadow 350ms; }

.csstransforms3d .movie .poster {
  box-shadow: inset 0px 0px 40px rgba(255, 255, 255, 0); }

.csstransforms3d .movie:hover .poster {
  box-shadow: inset 300px 0px 40px rgba(255, 255, 255, 0.8); }

.csstransforms3d .movie .info,
.csstransforms3d .movie .info header {
  box-shadow: inset -300px 0px 40px rgba(0, 0, 0, 0.5); }

.csstransforms3d .movie:hover .info,
.csstransforms3d .movie:hover .info header {
  box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0); }

/*************************************
Posters and still images
**************************************/
.scene:nth-child(1) .movie .poster {
  background-image: url("../img/poster1.jpeg"); }

.scene:nth-child(2) .poster {
  background-image: url("../img/poster2.jpeg"); }

.scene:nth-child(3) .poster {
  background-image: url("../img/poster3.jpeg"); }

.scene:nth-child(1) .info header {
  background-image: url("../img/still1.jpeg"); }

.scene:nth-child(2) .info header {
  background-image: url("../img/still2.jpeg"); }

.scene:nth-child(3) .info header {
  background-image: url("../img/still3.jpeg"); }

/*************************************
Fallback
**************************************/
.no-csstransforms3d .movie .poster,
.no-csstransforms3d .movie .info {
  position: relative; }

/*************************************
Media Queries
**************************************/
@media screen and (max-width: 768px) {
  .scene {
    display: block;
    margin: 0px auto 50px;
    padding: 0.71429em;
    padding: 0.71429rem; } }
.separator-3d, header {
  box-shadow: 1px 1px 8px #111; }

/* Global CSS that are applied for all screen sizes */
.nav ul {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 0 10.5em;
  list-style: none;
  font-size: 1.5em;
  font-weight: 300;
  font-family: fontawesome; }

.nav li span {
  display: block; }

.nav a {
  display: block;
  color: rgba(249, 249, 249, 0.9);
  text-decoration: none;
  -webkit-transition: color .5s, background .5s, height .5s;
  -moz-transition: color .5s, background .5s, height .5s;
  -o-transition: color .5s, background .5s, height .5s;
  -ms-transition: color .5s, background .5s, height .5s;
  transition: color .5s, background .5s, height .5s; }

.nav b {
  /* Make the font smoother for Chrome */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Remove the blue Webkit background when element is tapped */
a, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* Hover effect for the whole navigation to make the hovered item stand out */
.no-touch .nav ul:hover a {
  color: rgba(249, 249, 249, 0.5); }

.no-touch .nav ul:hover a:hover {
  color: rgba(249, 249, 249, 0.99); }

/* Adding some background color to the different menu items */
.nav li:nth-child(6n+1) {
  background: #d06503; }

.nav li:nth-child(6n+2) {
  background: #e9931a; }

.nav li:nth-child(6n+3) {
  background: #1691be; }

.nav li:nth-child(6n+4) {
  background: #166ba2; }

.nav li:nth-child(6n+5) {
  background: #1b3647; }

.nav li:nth-child(6n+6) {
  background: #152836; }

/* For screen bigger than 800px */
@media (min-width: 50em) {
  /* Transforms the list into a horizontal navigation */
  .nav li {
    float: left;
    width: 16.66666666666667%;
    text-align: center;
    -webkit-transition: border .5s;
    -moz-transition: border .5s;
    -o-transition: border .5s;
    -ms-transition: border .5s;
    transition: border .5s; }

  .nav a {
    display: block;
    width: auto; }

  /* hover, focused and active effects that add a little colored border to the different items */
  .no-touch .nav li:nth-child(6n+1) a:hover,
  .no-touch .nav li:nth-child(6n+1) a:active,
  .no-touch .nav li:nth-child(6n+1) a:focus {
    border-bottom: 4px solid #ae4e01; }

  .no-touch .nav li:nth-child(6n+2) a:hover,
  .no-touch .nav li:nth-child(6n+2) a:active,
  .no-touch .nav li:nth-child(6n+2) a:focus {
    border-bottom: 4px solid #bf7514; }

  .no-touch .nav li:nth-child(6n+3) a:hover,
  .no-touch .nav li:nth-child(6n+3) a:active,
  .no-touch .nav li:nth-child(6n+3) a:focus {
    border-bottom: 4px solid #0c6e95; }

  .no-touch .nav li:nth-child(6n+4) a:hover,
  .no-touch .nav li:nth-child(6n+4) a:active,
  .no-touch .nav li:nth-child(6n+4) a:focus {
    border-bottom: 4px solid #0a4b75; }

  .no-touch .nav li:nth-child(6n+5) a:hover,
  .no-touch .nav li:nth-child(6n+5) a:active,
  .no-touch .nav li:nth-child(6n+5) a:focus {
    border-bottom: 4px solid #10222c; }

  .no-touch .nav li:nth-child(6n+6) a:hover,
  .no-touch .nav li:nth-child(6n+6) a:active,
  .no-touch .nav li:nth-child(6n+6) a:focus {
    border-bottom: 4px solid #091219; }

  /* Placing the icon */
  .icon {
    padding-top: 1.4em; }

  .icon + span {
    margin-top: 2.1em;
    -webkit-transition: margin .5s;
    -moz-transition: margin .5s;
    -o-transition: margin .5s;
    -ms-transition: margin .5s;
    transition: margin .5s; }

  /* Animating the height of the element*/
  .nav a {
    height: 9em; }

  .no-touch .nav a:hover,
  .nav a:active,
  .nav a:focus {
    height: 10em; }

  /* Making the text follow the height animation */
  .no-touch .nav a:hover .icon + span {
    margin-top: 3.2em;
    -webkit-transition: margin .5s;
    -moz-transition: margin .5s;
    -o-transition: margin .5s;
    -ms-transition: margin .5s;
    transition: margin .5s; }

  /* Positioning the icons and preparing for the animation*/
  .nav b {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0.4em;
    border-radius: 50%;
    font-size: 1.8em;
    box-shadow: 0 0 0 30px transparent;
    background: rgba(255, 255, 255, 0.1);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: box-shadow .6s ease-in-out;
    -moz-transition: box-shadow .6s ease-in-out;
    -o-transition: box-shadow .6s ease-in-out;
    -ms-transition: box-shadow .6s ease-in-out;
    transition: box-shadow .6s ease-in-out; }

  /* Animate the box-shadow to create the effect */
  .no-touch .nav a:hover i,
  .no-touch .nav a:active i,
  .no-touch .nav a:focus i {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .4s ease-in-out;
    -moz-transition: box-shadow .4s ease-in-out;
    -o-transition: box-shadow .4s ease-in-out;
    -ms-transition: box-shadow .4s ease-in-out;
    transition: box-shadow .4s ease-in-out; } }
@media (min-width: 50em) and (max-width: 61.25em) {
  /* Size and font adjustments to make it fit into the screen*/
  .nav ul {
    font-size: 1.2em; } }
/* The "tablet" and "mobile" version */
@media (max-width: 49.938em) {
  /* Instead of adding a border, we transition the background color */
  .no-touch .nav ul li:nth-child(6n+1) a:hover,
  .no-touch .nav ul li:nth-child(6n+1) a:active,
  .no-touch .nav ul li:nth-child(6n+1) a:focus {
    background: #e37714; }

  .no-touch .nav li:nth-child(6n+2) a:hover,
  .no-touch .nav li:nth-child(6n+2) a:active,
  .no-touch .nav li:nth-child(6n+2) a:focus {
    background: #f5a029; }

  .no-touch .nav li:nth-child(6n+3) a:hover,
  .no-touch .nav li:nth-child(6n+3) a:active,
  .no-touch .nav li:nth-child(6n+3) a:focus {
    background: #2ca8db; }

  .no-touch .nav li:nth-child(6n+4) a:hover,
  .no-touch .nav li:nth-child(6n+4) a:active,
  .no-touch .nav li:nth-child(6n+4) a:focus {
    background: #1f78b0; }

  .no-touch .nav li:nth-child(6n+5) a:hover,
  .no-touch .nav li:nth-child(6n+5) a:active,
  .no-touch .nav li:nth-child(6n+5) a:focus {
    background: #27465a; }

  .no-touch .nav li:nth-child(6n+6) a:hover,
  .no-touch .nav li:nth-child(6n+6) a:active,
  .no-touch .nav li:nth-child(6n+6) a:focus {
    background: #203644; }

  .nav ul li {
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -ms-transition: background 0.5s;
    transition: background 0.5s; } }
/* CSS specific to the 2x3 columns version */
@media (min-width: 32.5em) and (max-width: 49.938em) {
  /* Creating the 2 column layout using floating elements once again */
  .nav li {
    display: block;
    float: left;
    width: 50%; }

  /* Adding some padding to make the elements look nicer*/
  .nav a {
    padding: 0.8em; }

  /* Displaying the icons on the left, and the text on the right side using inlin-block*/
  .nav li span,
  .nav li span.icon {
    display: inline-block; }

  .nav li span.icon {
    width: 50%; }

  .nav li .icon + span {
    font-size: 1em; }

  .icon + span {
    position: relative;
    top: -0.2em; }

  /* Adaptating to the icons to animate the size and border of the rounded background in a more discreet way */
  .nav li i {
    display: inline-block;
    padding: 8% 9%;
    border: 4px solid transparent;
    border-radius: 50%;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: border .5s;
    -moz-transition: border .5s;
    -o-transition: border .5s;
    -ms-transition: border .5s;
    transition: border .5s; }

  /* Transition effect on the border color */
  .no-touch .nav li:hover i,
  .no-touch .nav li:active i,
  .no-touch .nav li:focus i {
    border: 4px solid rgba(255, 255, 255, 0.1); } }
/* Adapting the font size and width for smaller screns*/
@media (min-width: 32.5em) and (max-width: 38.688em) {
  .nav li span.icon {
    width: 50%; }

  .nav li .icon + span {
    font-size: 0.9em; } }
/* Styling the toggle menu link and hiding it */
.nav .navtoogle {
  display: none;
  width: 100%;
  padding: 0.5em 0.5em 0.8em;
  font-weight: normal;
  text-align: left;
  color: #07100f;
  font-size: 1.2em;
  background: none;
  border: none;
  border-bottom: 4px solid #dddddd;
  cursor: pointer; }

.navtoogle i {
  z-index: -1; }

.icon-menu {
  position: relative;
  top: 3px;
  line-height: 0;
  font-size: 1.6em; }

@media (max-width: 32.438em) {
  /* Unhiding the styled menu link */
  .nav .navtoogle {
    margin: 0;
    display: block; }

  /* Animating the height of the navigation when the button is clicked */
  /* When JavaScript is disabled, we hide the menu */
  .no-js .nav ul {
    max-height: 30em;
    overflow: hidden; }

  /* When JavaScript is enabled, we hide the menu */
  .js .nav ul {
    max-height: 0em;
    overflow: hidden; }

  /* Displaying the menu when the user has clicked on the button*/
  .js .nav .active + ul {
    max-height: 30em;
    overflow: hidden;
    -webkit-transition: max-height .4s;
    -moz-transition: max-height .4s;
    -o-transition: max-height .4s;
    -ms-transition: max-height .4s;
    transition: max-height .4s; }

  /* Adapting the layout of the menu for smaller screens : icon on the left and text on the right*/
  .nav li span {
    display: inline-block;
    height: 100%; }

  .nav a {
    padding: 0.5em; }

  .icon + span {
    margin-left: 1em;
    font-size: 0.8em; }

  /* Adding a left border of 8 px with a different color for each menu item*/
  .nav li:nth-child(6n+1) {
    border-left: 8px solid #ae4e01; }

  .nav li:nth-child(6n+2) {
    border-left: 8px solid #bf7514; }

  .nav li:nth-child(6n+3) {
    border-left: 8px solid #0d6f96; }

  .nav li:nth-child(6n+4) {
    border-left: 8px solid #0a4b75; }

  .nav li:nth-child(6n+5) {
    border-left: 8px solid #10222c; }

  .nav li:nth-child(6n+6) {
    border-left: 8px solid #091219; }

  /* make the nav bigger on touch screens */
  .touch .nav a {
    padding: 0.8em; } }
.tt-grid {
  position: relative;
  margin: 20px auto -40px;
  padding: 0;
  max-width: 960px;
  list-style: none;
  text-align: center;
  font-size: 0px; }

.tt-grid:before,
.tt-grid:after {
  display: table;
  content: ' '; }

.tt-grid:after {
  clear: both; }

.tt-grid li {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 300px;
  height: 225px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.tt-grid li a,
.tt-grid li a img {
  display: block;
  margin: 0 auto;
  border: none; }

.tt-grid li a {
  background: #000;
  position: absolute;
  top: 0;
  left: 0; }

.tt-grid li a:nth-child(2) {
  z-index: 1;
  visibility: hidden; }

/* Navigation */
.tt-grid-wrapper nav {
  text-align: center; }

.tt-grid-wrapper nav a {
  display: inline-block;
  margin: 0 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgba(17, 17, 17, 0.4);
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.touch .tt-grid-wrapper nav a {
  width: 30px;
  height: 30px; }

.tt-grid-wrapper nav a:hover {
  opacity: 1; }

.tt-grid-wrapper nav a.tt-current {
  opacity: 1;
  box-shadow: 0 0 0 3px rgba(1, 1, 1, 0.6); }

.tt-grid.tt-effect-active li a {
  pointer-events: none; }

/* Individual grid effects */
/* Fall down / scale up */
.tt-effect-fall.tt-effect-active li:not(.tt-empty) a:first-child {
  -webkit-animation: fallDown 0.6s forwards;
  animation: fallDown 0.6s forwards; }

.tt-effect-fall.tt-effect-active li a:nth-child(2),
.tt-effect-fall.tt-effect-active li.tt-empty a {
  opacity: 0;
  -webkit-animation: scaleUpFadeIn 0.6s forwards;
  animation: scaleUpFadeIn 0.6s forwards; }

/* Slide and reveal */
.tt-effect-slide.tt-effect-active li:not(.tt-empty) a:first-child {
  z-index: 100;
  overflow: hidden;
  margin: 0;
  -webkit-animation: slideOut 0.5s forwards;
  animation: slideOut 0.5s forwards; }

.tt-effect-slide.tt-effect-active a:nth-child(2) {
  visibility: visible; }

.tt-effect-slide.tt-effect-active li:not(.tt-empty) a:only-child {
  -webkit-animation: fadeOut 0.5s forwards;
  animation: fadeOut 0.5s forwards; }

.tt-effect-slide.tt-effect-active li.tt-empty a {
  -webkit-animation: fadeIn 0.5s forwards;
  animation: fadeIn 0.5s forwards; }

/* Fall and rotate */
.tt-effect-fallrotate.tt-effect-active li:not(.tt-empty) a:first-child {
  z-index: 10;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-animation: fallRotate 0.6s ease-in forwards;
  animation: fallRotate 0.6s ease-in forwards; }

.tt-effect-fallrotate.tt-effect-active li a:nth-child(2),
.tt-effect-fallrotate.tt-effect-active li.tt-empty a {
  visibility: visible; }

.tt-effect-fallrotate.tt-effect-active li.tt-empty a {
  opacity: 0;
  -webkit-animation: fadeIn 0.6s forwards;
  animation: fadeIn 0.6s forwards; }

.tt-effect-fallrotate li:nth-child(4) {
  z-index: 1; }

/* order for correct overlapping */
.tt-effect-fallrotate li:nth-child(5) {
  z-index: 2; }

.tt-effect-fallrotate li:nth-child(6) {
  z-index: 3; }

.tt-effect-fallrotate li:first-child {
  z-index: 4; }

.tt-effect-fallrotate li:nth-child(2) {
  z-index: 5; }

.tt-effect-fallrotate li:nth-child(3) {
  z-index: 6; }

/* Scale and rotate */
.tt-effect-scalerotate.tt-effect-active li:not(.tt-empty) a:first-child {
  -webkit-animation: scaleRotateOut 0.6s forwards;
  animation: scaleRotateOut 0.6s forwards; }

.tt-effect-scalerotate.tt-effect-active li a:nth-child(2),
.tt-effect-scalerotate.tt-effect-active li.tt-empty a {
  opacity: 0;
  -webkit-animation: scaleRotateIn 0.6s forwards;
  animation: scaleRotateIn 0.6s forwards; }

.tt-effect-scalerotate.tt-effect-active li:not(.tt-empty) a:only-child {
  -webkit-animation: fadeOut 0.6s forwards;
  animation: fadeOut 0.6s forwards; }

.tt-effect-scalerotate li:nth-child(-n+3) {
  z-index: 2; }

/* order for correct overlapping */
.tt-effect-scalerotate li:nth-last-child(-n+3) {
  z-index: 1; }

/* Stack back 3D */
.tt-effect-stackback li {
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.tt-effect-stackback li a {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.tt-effect-stackback.tt-effect-active li:not(.tt-empty) a:first-child {
  -webkit-animation: moveLeft 0.8s forwards;
  animation: moveLeft 0.8s forwards; }

.tt-effect-stackback.tt-effect-active li a:nth-child(2),
.tt-effect-stackback.tt-effect-active li.tt-empty a {
  z-index: -1;
  -webkit-animation: popUp 0.8s ease-in forwards;
  animation: popUp 0.8s ease-in forwards; }

.tt-effect-stackback.tt-effect-active li:not(.tt-empty) a:only-child {
  -webkit-animation: fadeOut 0.8s forwards;
  animation: fadeOut 0.8s forwards; }

.tt-effect-stackback.tt-effect-active li.tt-empty a {
  opacity: 0;
  -webkit-animation: fadeIn 0.8s forwards;
  animation: fadeIn 0.8s forwards; }

/* 3d flip */
.tt-effect-3dflip li {
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.tt-effect-3dflip li a {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.tt-effect-3dflip.tt-effect-active li:not(.tt-empty) a:first-child {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateOutLeft 0.6s forwards;
  animation: rotateOutLeft 0.6s forwards; }

.tt-effect-3dflip.tt-effect-active li a:nth-child(2),
.tt-effect-3dflip.tt-effect-active li.tt-empty a {
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateInRight 0.6s ease-in forwards;
  animation: rotateInRight 0.6s ease-in forwards; }

/* Bring back */
/* From https://github.com/hakimel/kontext by Hakim El Hattab, http://hakim.se */
.tt-effect-bringback li {
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.tt-effect-bringback li a {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.tt-effect-bringback.tt-effect-active li:not(.tt-empty) a:first-child {
  -webkit-animation: hideLeft 0.8s forwards;
  animation: hideLeft 0.8s forwards; }

.tt-effect-bringback.tt-effect-active li a:nth-child(2) {
  z-index: -1;
  -webkit-animation: showRight 0.8s forwards;
  animation: showRight 0.8s forwards; }

.tt-effect-bringback.tt-effect-active li:not(.tt-empty) a:only-child {
  -webkit-animation: fadeOut 0.8s forwards;
  animation: fadeOut 0.8s forwards; }

.tt-effect-bringback.tt-effect-active li.tt-empty a {
  opacity: 0;
  -webkit-animation: fadeIn 0.8s forwards;
  animation: fadeIn 0.8s forwards; }

/* Superscale */
.tt-effect-superscale.tt-effect-active li:not(.tt-empty) a:first-child {
  -webkit-animation: scaleDown 0.6s ease-in-out forwards;
  animation: scaleDown 0.6s ease-in-out forwards; }

.tt-effect-superscale.tt-effect-active li a:nth-child(2),
.tt-effect-superscale.tt-effect-active li.tt-empty a {
  opacity: 0;
  -webkit-animation: scaleIn 0.6s ease-in-out forwards;
  animation: scaleIn 0.6s ease-in-out forwards; }

/* Center flip */
.tt-effect-flip li {
  -webkit-perspective: 1500px;
  perspective: 1500px; }

.tt-effect-flip li a {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.tt-effect-flip.tt-effect-active li:not(.tt-empty) a:first-child {
  -webkit-animation: flipOut 0.8s ease-in forwards;
  animation: flipOut 0.8s ease-in forwards; }

.tt-effect-flip.tt-effect-active li a:nth-child(2),
.tt-effect-flip.tt-effect-active li.tt-empty a {
  opacity: 0;
  -webkit-animation: flipIn 0.8s ease-in forwards;
  animation: flipIn 0.8s ease-in forwards; }

/* Front row */
.tt-effect-frontrow li {
  overflow: hidden; }

.tt-effect-frontrow.tt-effect-active li:not(.tt-empty) a:first-child {
  -webkit-animation: moveToBack 0.8s forwards;
  animation: moveToBack 0.8s forwards; }

.tt-effect-frontrow.tt-effect-active li a:nth-child(2),
.tt-effect-frontrow.tt-effect-active li.tt-empty a {
  -webkit-animation: moveToFront 0.8s forwards;
  animation: moveToFront 0.8s forwards; }

.tt-effect-frontrow.tt-effect-active li.tt-empty a {
  opacity: 0; }

.tt-effect-frontrow.tt-effect-active li:not(.tt-empty) a:only-child {
  -webkit-animation: fadeOut 0.5s forwards;
  animation: fadeOut 0.5s forwards; }

/* Animation delays */
.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(2) a {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(3) a {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(4) a {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(5) a {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.tt-grid-wrapper .tt-effect-delay.tt-effect-active li:nth-child(6) a {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

/* Reverse delays */
.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(5) a {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(4) a {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(3) a {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(2) a {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.tt-grid-wrapper .tt-effect-delay-reversed.tt-effect-active li:nth-child(1) a {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

/* Animations */
@-webkit-keyframes fallDown {
  to {
    opacity: 0;
    -webkit-transform: translateY(70%); } }

@keyframes fallDown {
  to {
    opacity: 0;
    transform: translateY(70%); } }

@-webkit-keyframes scaleUpFadeIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.8); }

  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1); } }

@keyframes scaleUpFadeIn {
  from {
    opacity: 0;
    transform: scale(0.8); }

  to {
    visibility: visible;
    opacity: 1;
    transform: scale(1); } }

@-webkit-keyframes slideOut {
  from {
    width: 100%; }

  to {
    width: 0%; } }

@keyframes slideOut {
  from {
    width: 100%; }

  to {
    width: 0%; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fallRotate {
  0% {
    -webkit-transform: translateY(0%) rotate(0deg);
    -webkit-animation-timing-function: ease-in; }

  40% {
    -webkit-transform: translateY(0%) rotate(20deg);
    -webkit-animation-timing-function: ease-out; }

  60% {
    -webkit-transform: translateY(0%) rotate(15deg);
    opacity: 1; }

  100% {
    -webkit-transform: translateY(150%) rotate(17deg);
    opacity: 0; } }

@keyframes fallRotate {
  0% {
    transform: translateY(0%) rotate(0deg);
    animation-timing-function: ease-in; }

  40% {
    transform: translateY(0%) rotate(20deg);
    animation-timing-function: ease-out; }

  60% {
    transform: translateY(0%) rotate(15deg);
    opacity: 1; }

  100% {
    transform: translateY(150%) rotate(17deg);
    opacity: 0; } }

@-webkit-keyframes scaleRotateOut {
  100% {
    opacity: 0;
    -webkit-transform: scale(0); } }

@keyframes scaleRotateOut {
  100% {
    opacity: 0;
    transform: scale(0); } }

@-webkit-keyframes scaleRotateIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%) translateY(100%) rotate(25deg); }

  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0%) translateY(0%) rotate(0deg); } }

@keyframes scaleRotateIn {
  0% {
    opacity: 0;
    transform: translateX(50%) translateY(100%) rotate(25deg); }

  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%) translateY(0%) rotate(0deg); } }

@-webkit-keyframes moveLeft {
  50% {
    opacity: 1;
    -webkit-transform: translateX(-100%) rotateY(35deg) rotateX(10deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%) rotateY(0deg) rotateX(0deg); } }

@keyframes moveLeft {
  50% {
    opacity: 1;
    transform: translateX(-100%) rotateY(35deg) rotateX(10deg); }

  100% {
    opacity: 1;
    transform: translateX(0%) rotateY(0deg) rotateX(0deg); } }

@-webkit-keyframes popUp {
  0% {
    -webkit-transform: translateZ(-200px); }

  50% {
    z-index: -1; }

  51% {
    z-index: 1; }

  70% {
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateZ(50px);
    -webkit-animation-timing-function: ease-out; }

  100% {
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateZ(0px); } }

@keyframes popUp {
  0% {
    transform: translateZ(-200px); }

  50% {
    z-index: -1; }

  51% {
    z-index: 1; }

  70% {
    z-index: 1;
    visibility: visible;
    transform: translateZ(50px);
    animation-timing-function: ease-out; }

  100% {
    z-index: 1;
    visibility: visible;
    transform: translateZ(0px); } }

@-webkit-keyframes rotateOutLeft {
  100% {
    opacity: 0;
    -webkit-transform: rotateY(90deg); } }

@keyframes rotateOutLeft {
  100% {
    opacity: 0;
    transform: rotateY(90deg); } }

@-webkit-keyframes rotateInRight {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg); }

  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateY(0deg); } }

@keyframes rotateInRight {
  0% {
    opacity: 0;
    transform: rotateY(-90deg); }

  100% {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0deg); } }

@-webkit-keyframes hideLeft {
  0% {
    -webkit-transform: translateZ(0px); }

  40% {
    -webkit-transform: translate(-40%, 0) scale(0.8) rotateY(20deg); }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(-400px); } }

@keyframes hideLeft {
  0% {
    transform: translateZ(0px); }

  40% {
    transform: translate(-40%, 0) scale(0.8) rotateY(20deg); }

  100% {
    transform: translateZ(-400px); } }

@-webkit-keyframes showRight {
  0% {
    -webkit-transform: translateZ(-400px); }

  40% {
    z-index: -1;
    -webkit-transform: translate(40%, 0) scale(0.8) rotateY(-20deg); }

  41% {
    z-index: 1; }

  100% {
    z-index: 1;
    visibility: visible;
    -webkit-transform: translateZ(0px); } }

@keyframes showRight {
  0% {
    transform: translateZ(-400px); }

  40% {
    z-index: -1;
    transform: translate(40%, 0) scale(0.8) rotateY(-20deg); }

  41% {
    z-index: 1; }

  100% {
    z-index: 1;
    visibility: visible;
    transform: translateZ(0px); } }

@-webkit-keyframes scaleDown {
  100% {
    opacity: 0;
    -webkit-transform: scale(0); } }

@keyframes scaleDown {
  100% {
    opacity: 0;
    transform: scale(0); } }

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.2); }

  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1); } }

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(1.2); }

  100% {
    visibility: visible;
    opacity: 1;
    transform: scale(1); } }

@-webkit-keyframes flipOut {
  50% {
    opacity: 0;
    -webkit-transform: rotateY(90deg); }

  100% {
    opacity: 0;
    -webkit-transform: rotateY(90deg); } }

@keyframes flipOut {
  50% {
    opacity: 0;
    transform: rotateY(90deg); }

  100% {
    opacity: 0;
    transform: rotateY(90deg); } }

@-webkit-keyframes flipIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg); }

  50% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg); }

  75% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateY(15deg);
    -webkit-animation-timing-function: ease-in; }

  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateY(0deg); } }

@keyframes flipIn {
  0% {
    opacity: 0;
    transform: rotateY(-90deg); }

  50% {
    opacity: 0;
    transform: rotateY(-90deg); }

  75% {
    visibility: visible;
    opacity: 1;
    transform: rotateY(15deg);
    animation-timing-function: ease-in; }

  100% {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0deg); } }

@-webkit-keyframes moveToBack {
  100% {
    -webkit-transform: translateX(-60%) scale(0.8); } }

@keyframes moveToBack {
  100% {
    transform: translateX(-60%) scale(0.8); } }

@-webkit-keyframes moveToBack {
  100% {
    -webkit-transform: translateX(-60%) scale(0.8); } }

@-webkit-keyframes moveToFront {
  0% {
    -webkit-transform: translateX(100%) scale(0.8); }

  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0%) scale(1); } }

@keyframes moveToFront {
  0% {
    transform: translateX(100%) scale(0.8); }

  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%) scale(1); } }

.circular-nav {
  position: relative;
  margin: 13em auto 5em;
  height: 15em;
  background: rgba(0, 0, 0, 0.05); }
  .circular-nav > h2 {
    position: absolute;
    overflow: hidden;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 300;
    font-style: italic;
    font-size: 12em;
    opacity: 0.1;
    cursor: default; }
  .circular-nav * {
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none; }

.cn-button {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 11;
  margin-top: -2.25em;
  margin-left: -2.25em;
  padding-top: 0em;
  width: 4.5em;
  height: 4.5em;
  border: none;
  border-radius: 50%;
  background: none;
  background-color: #fff;
  color: #52be7f;
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  outline: none; }

.csstransforms .cn-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  margin-top: -13em;
  margin-left: -13.5em;
  width: 27em;
  height: 27em;
  border-radius: 50%;
  background: transparent;
  opacity: 0;
  -webkit-transition: all .3s ease 0.3s;
  -moz-transition: all .3s ease 0.3s;
  transition: all .3s ease 0.3s;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
  pointer-events: none;
  overflow: hidden; }

/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after {
  content: ".";
  display: block;
  font-size: 2em;
  width: 6.2em;
  height: 6.2em;
  position: absolute;
  left: 50%;
  margin-left: -3.1em;
  top: 50%;
  margin-top: -3.1em;
  border-radius: 50%;
  z-index: 10;
  color: transparent; }

.csstransforms .opened-nav {
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  pointer-events: auto; }

.csstransforms .cn-wrapper li {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin-top: -1.3em;
  margin-left: -10em;
  width: 10em;
  height: 10em;
  font-size: 1.5em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: rotate(76deg) skew(60deg);
  -moz-transform: rotate(76deg) skew(60deg);
  -ms-transform: rotate(76deg) skew(60deg);
  transform: rotate(76deg) skew(60deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  pointer-events: none; }

.csstransforms .cn-wrapper li a {
  position: absolute;
  position: fixed;
  /* fix the displacement bug in webkit browsers when using tab key */
  right: -7.25em;
  bottom: -7.25em;
  display: block;
  width: 14.5em;
  height: 14.5em;
  border-radius: 50%;
  background: #429a67;
  background: -webkit-radial-gradient(transparent 35%, #429a67 35%);
  background: -moz-radial-gradient(transparent 35%, #429a67 35%);
  background: radial-gradient(transparent 35%, #429a67 35%);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 2;
  -webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
  -moz-transform: skew(-60deg) rotate(-75deg) scale(1);
  -ms-transform: skew(-60deg) rotate(-75deg) scale(1);
  transform: skew(-60deg) rotate(-75deg) scale(1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: auto; }

.csstransforms .cn-wrapper li a span {
  position: relative;
  top: 1.8em;
  display: block;
  font-size: .5em;
  font-weight: 700; }

.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
  background: -webkit-radial-gradient(transparent 35%, #449e6a 35%);
  background: -moz-radial-gradient(transparent 35%, #449e6a 35%);
  background: radial-gradient(transparent 35%, #449e6a 35%); }

.csstransforms .opened-nav li {
  -webkit-transition: all .3s ease .3s;
  -moz-transition: all .3s ease .3s;
  transition: all .3s ease .3s; }

.csstransforms .opened-nav li:first-child {
  -webkit-transform: rotate(-20deg) skew(60deg);
  -moz-transform: rotate(-20deg) skew(60deg);
  -ms-transform: rotate(-20deg) skew(60deg);
  transform: rotate(-20deg) skew(60deg); }

.csstransforms .opened-nav li:nth-child(2) {
  -webkit-transform: rotate(12deg) skew(60deg);
  -moz-transform: rotate(12deg) skew(60deg);
  -ms-transform: rotate(12deg) skew(60deg);
  transform: rotate(12deg) skew(60deg); }

.csstransforms .opened-nav li:nth-child(3) {
  -webkit-transform: rotate(44deg) skew(60deg);
  -moz-transform: rotate(44deg) skew(60deg);
  -ms-transform: rotate(44deg) skew(60deg);
  transform: rotate(44deg) skew(60deg); }

.csstransforms .opened-nav li:nth-child(4) {
  -webkit-transform: rotate(76deg) skew(60deg);
  -moz-transform: rotate(76deg) skew(60deg);
  -ms-transform: rotate(76deg) skew(60deg);
  transform: rotate(76deg) skew(60deg); }

.csstransforms .opened-nav li:nth-child(5) {
  -webkit-transform: rotate(108deg) skew(60deg);
  -moz-transform: rotate(108deg) skew(60deg);
  -ms-transform: rotate(108deg) skew(60deg);
  transform: rotate(108deg) skew(60deg); }

.csstransforms .opened-nav li:nth-child(6) {
  -webkit-transform: rotate(140deg) skew(60deg);
  -moz-transform: rotate(140deg) skew(60deg);
  -ms-transform: rotate(140deg) skew(60deg);
  transform: rotate(140deg) skew(60deg); }

.csstransforms .opened-nav li:nth-child(7) {
  -webkit-transform: rotate(172deg) skew(60deg);
  -moz-transform: rotate(172deg) skew(60deg);
  -ms-transform: rotate(172deg) skew(60deg);
  transform: rotate(172deg) skew(60deg); }

.no-csstransforms .cn-wrapper {
  overflow: hidden;
  margin: 10em auto;
  padding: .5em;
  text-align: center; }

.no-csstransforms .cn-wrapper ul {
  display: inline-block; }

.no-csstransforms .cn-wrapper li {
  float: left;
  width: 5em;
  height: 5em;
  background-color: #fff;
  text-align: center;
  font-size: 1em;
  line-height: 5em; }

.no-csstransforms .cn-wrapper li a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none; }

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
  background-color: #f8f8f8; }

.no-csstransforms .cn-wrapper li.active a {
  background-color: #6F325C;
  color: #fff; }

.no-csstransforms .cn-button {
  display: none; }

@media only screen and (max-width: 620px) {
  .no-csstransforms li {
    width: 4em;
    height: 4em;
    line-height: 4em; } }
@media only screen and (max-width: 500px) {
  .no-ccstransforms .cn-wrapper {
    padding: .5em; }

  .no-csstransforms .cn-wrapper li {
    width: 4em;
    height: 4em;
    font-size: .9em;
    line-height: 4em; } }
@media only screen and (max-width: 480px) {
  .csstransforms .cn-wrapper {
    font-size: .68em; }

  .cn-button {
    font-size: 1em; } }
@media only screen and (max-width: 420px) {
  .no-csstransforms .cn-wrapper li {
    width: 100%;
    height: 3em;
    line-height: 3em; } }
