//defining path for base image directory
$imagePath:"../img/";


$poster1:$imagePath+"poster1.jpeg";
$poster2:$imagePath+"poster2.jpeg";
$poster3:$imagePath+"poster3.jpeg";

$still1:$imagePath+"still1.jpeg";
$still2:$imagePath+"still2.jpeg";
$still3:$imagePath+"still3.jpeg";