.bg-title{
	background: rgba(0, 0, 0, 0.05);
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 300;
	font-style: italic;
	font-size: 12em;
	opacity: 0.1;
	cursor: default;
	z-index:10;
	line-height:1;
	text-align:center;
	position: absolute;
	top: 0;
}	